@mixin border-bottom {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    transform: scaleY(0.5);
  }
}
